{% extends 'base.html.twig' %}

{% block title %}New Carcategory{% endblock %}

{% block body %}
    <h1>Create new Carcategory</h1>

    {{ include('admin_carcategory/_form.html.twig') }}

    <a href="{{ path('app_admin_carcategory_index') }}">back to list</a>
{% endblock %}
