{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    <h1>Créer une nouvelle voiture</h1>

    {{ include('admin_car/_form.html.twig') }}

    <a href="{{ path('app_admin_car_index') }}">Retourner à la liste des voitures</a>
{% endblock %}
